/* .App {
  text-align: center;
} */
.header {
  display: flex;
  background: #FFF !important;
  font-size: 16px;
}
.headerlogo {
  width: 150px;
}
.link {
  color: #777;
  margin-right: 20px;
}
.headeruser {
  display: flex;
  justify-content: flex-end;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.ant-layout-content {
  min-height: 90vh !important;
}
.ant-layout-footer {
  text-align: center;
  background: #fff !important;
}