* {
  margin: 0;
  padding: 0;
}
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.site-layout .site-layout-background {
  background: #fff;
}
.tdheader-avatar {
  position: relative;
  cursor: pointer;
}
.avatar-info {
  display: none;
  position: absolute;
  z-index: 9;
  right: -80px;
  width: 200px; 
  height: 200px;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 12px 2px !important;
  border-radius: 5px !important;
}
.tdheader-avatar:hover .avatar-info {
  display: block;
}